@import 'variables';
@import '_mixin';

// -------------------------variable

.test-wrapper {
  background-color: $color--black;
  display: flex;
  justify-content: center;
  align-items: center;

  .header {
    color: $color--white;
    font-weight: 700;
    text-decoration: underline;
  }
  .content {
    color: $color--white;
  }
}

// ---------------------------mixin

.info {
  @include theme;
}
.alert {
  @include theme($theme: DarkRed);
}
.success {
  @include theme($theme: DarkGreen);
}

.grand {
  @include center-box(800px, 500px);

  .parent {
    @include center-box(500px, 450px, #666); // 파라미터명 명시

    flex-direction: column;

    & > * {
      @include center-box();

      margin: {
        top: 20px;
        right: 3px;
        bottom: 20px;
        left: 3px;
      }
    }
  }
}
