@import 'variables';
@import '_mixin';

.test-wrapper {
  background-color: $color--black;
  display: flex;
  justify-content: center;
  align-items: center;

  .header {
    color: $color--white;
    font-weight: 700;
    text-decoration: underline;
  }
  .content {
    color: $color--white;
  }
}

.info {
  @include theme;
}
.alert {
  @include theme($theme: DarkRed);
}
.success {
  @include theme($theme: DarkGreen);
}
