body {
  background: #444444;
  color: white;
  font: 15px/1.51 system, -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue',
    'Lucida Grande', sans-serif;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}
.reference {
  /* text-decoration: none; */
  color: inherit;
}
form {
  display: inline-block;
  padding: 0;
  margin: 0;
  padding: 5px;
  margin: 5px 0 0 0;
}

input {
  padding: 8px 20px;
  border-radius: 2px;
  border: 0;
  font-size: 20px;
}
.status-key,
.status-ajax {
  margin: 10px 0;
}
.status-ajax {
  color: #99ff7e;
}
